{% extends 'core/layouts/main.html' %}
{% load i18n %}

{% translate 'Home' context 'Page title' as page_title %}
{% block head_title %}{{ page_title }}{% endblock head_title %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block main %}
  <section>
    {% translate 'dev-pages' context 'Heading ID, Developer pages' as dev_pages_heading_id %}
    {% translate 'Developer pages' context 'Heading text, Developer pages' as dev_pages_heading_text %}
    <h2 id="{{ dev_pages_heading_id }}">{{ dev_pages_heading_text }}</h2>

    <ul aria-labelledby="{{ dev_pages_heading_id }}">
      <li>
        <a href="{% url 'library:code_snippet_list' %}">{% translate 'Code snippets' context 'Page title' %}</a>
      </li>
      <li>
        <a href="{% url 'forms_galore:sample_form' %}">{% translate 'Sample form' context 'Page title' %}</a>
      </li>
      {% for status_code in http_error_codes %}
        <li>
          <a href="{% url 'core:raise_error' http_status=status_code %}">{% blocktranslate trimmed context 'Page title' %}Error {{status_code}}{% endblocktranslate %}</a>
        </li>
      {% endfor %}
      <li>
        <a href="{% url 'core:kitchen_sink' %}">{% translate 'Kitchen sink' context 'Page title' %}</a>
      </li>
    </ul>
  </section>

  <section>
    {% translate 'shortcuts' context 'Heading ID, Shortcuts' as shortcuts_heading_id %}
    {% translate 'Shortcuts' context 'Heading text, Shortcuts' as shortcuts_heading_text %}
    <h2 id="{{ shortcuts_heading_id }}">{{ shortcuts_heading_text }}</h2>

    {% translate 'docs-shortcuts' context 'Heading ID, Documentation shortcuts' as docs_shortcuts_id %}
    {% translate 'Documentation' context 'Heading text, Documentation shortcuts, omit `shortcuts`' as docs_shortcuts_text %}
    <h3 id="{{ docs_shortcuts_id }}">{{ docs_shortcuts_text }}</h3>

    <ul aria-labelledby="{{ docs_shortcuts_id }} {{ shortcuts_heading_id }}">
      <li>
        <a href="https://docs.djangoproject.com/en/dev/ref/models/querysets/" rel="{{ rel_external }}" hreflang="en-US">{% translate 'QuerySet API reference' context 'External document' %}</a>
      </li>
      <li>
        <a href="https://docs.djangoproject.com/en/dev/ref/templates/builtins/" rel="{{ rel_external }}" hreflang="en-US">{% translate 'Built-in template tags and filters' context 'External document' %}</a>
      </li>
      <li>
        <a href="https://docs.djangoproject.com/en/dev/topics/i18n/translation/" rel="{{ rel_external }}" hreflang="en-US">{% translate 'Translation topic' context 'External document' %}</a>
      </li>
    </ul>

    {% translate 'misc-shortcuts' context 'Heading ID, Miscellaneous shortcuts' as misc_shortcuts_heading_id %}
    {% translate 'Miscellaneous' context 'Heading text, Miscellaneous shortcuts, omit `shortcuts`' as misc_shortcuts_heading_text %}
    <h3 id="{{ misc_shortcuts_heading_id }}">{{ misc_shortcuts_heading_text }}</h3>

    <ul aria-labelledby="{{ misc_shortcuts_heading_id }} {{ shortcuts_heading_id }}">
      <li>
        <a href="https://ccbv.co.uk" rel="{{ rel_external }}" hreflang="en-GB">{% translate 'CCBV (Classy Class-Based Views)' context 'External document' %}</a>
      </li>
      <li>
        <a href="https://djangotv.com" rel="{{ rel_external }}" hreflang="en-US">{% translate 'Django TV' context 'External document' %}</a>
      </li>
    </ul>
  </section>
{% endblock main %}
