# Local Django
-e ../django

# Prod
django-countries
django-phone-field
django-silk
# docutils is needed for `admindocs`
docutils
environs[django]

# Dev
django-debug-toolbar
django-extensions
django-stubs
mypy
pre-commit
ruff
