{% extends 'core/layouts/main.html' %}
{% load i18n %}

{% translate 'Sample form' context 'Page title' as page_title %}
{% block head_title %}{{ page_title }}{% endblock head_title %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block main %}
  <section>
    <form action="" method="get" autocomplete="on">
      {{ form }}

      <div class="form__actions">
        <button type="submit">{% translate 'Submit' context 'Action' %}</button>
      </div>
    </form>
  </section>
{% endblock main %}
