<!DOCTYPE html>{% spaceless %}
  {% load i18n static %}
  {% get_current_language as LANGUAGE_CODE %}
  {% get_current_language_bidi as LANGUAGE_BIDI %}
{% endspaceless %}
<html class="no-js" lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}" data-static-path="{% static '/' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=yes">

    <title>{% block head_title %}Title{% endblock head_title %} / {% translate 'Django local test' %}</title>

    <link href="{% static 'shared/styles/main.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="page-outline">
      {% block body %}{% endblock body %}
    </div>
  </body>
</html>
