{% extends 'core/layouts/_base.html' %}
{% load i18n %}

{% block body %}
  {% include './partials/site-banner.html' %}

  <main id="site-contents" class="site-contents">
    {% translate 'page-title' context 'Heading ID, Page title' as page_title_heading_id %}
    <h1 id="{{ page_title_heading_id }}" class="page-title">{% block page_title %}Page title{% endblock page_title %}</h1>

    {% block main %}{% endblock main %}
  </main>

  {% include './partials/site-footer.html' %}
{% endblock body %}
