{% load i18n %}

<footer id="site-footer" class="site-footer" aria-labelledby="site-footer-heading">
  <h2 id="site-footer-heading" class="visually-hidden">{% translate 'Footer' context 'Heading text' %}</h2>

  <p>{% blocktranslate trimmed with django_repo='https://github.com/django/django' project_repo='https://github.com/MHLut/django-local-test' rel='external noopener noreferrer' %}
    Development project for
    <a href="{{ django_repo }}" rel="{{rel}}">Django</a>.
    (<a href="{{ project_repo }}" rel="{{rel}}">Source code</a>)
  {% endblocktranslate %}</p>
</footer>
