{% load i18n %}

<nav id="site-nav" class="site-nav" aria-labelledby="site-nav-heading">
  <h2 id="site-nav-heading" class="visually-hidden">{% translate 'Primary navigation' context 'Heading text' %}</h2>

  <ul>
    <li>
      <a href="{% url 'admin:index' %}">{% translate 'Admin' context 'Page title' %}</a>
    </li>
    <li class="user-actions">
      {% if user.is_authenticated %}
        {% include 'auth-custom/partials/logout-form.html' %}
      {% else %}
        <a href="{% url 'login' %}">{% translate 'Login' context 'Page title' %}</a>
      {% endif %}
    </li>
  </ul>
</nav>
