{% load i18n %}

<nav class="site-nav" aria-labelledby="{{ site_nav_heading_id }}">
  {% translate 'nav' context 'Heading ID, Primary navigation, not `site-nav`' as site_nav_heading_id %}
  {% translate 'Primary navigation' context 'Heading text, Primary navigation' as site_nav_heading_text %}
  <h2 id="{{ site_nav_heading_id }}" class="visually-hidden">{{ site_nav_heading_text }}</h2>

  <ul>
    <li>
      <a href="{% url 'admin:index' %}">{% translate 'Admin' context 'Page title' %}</a>
    </li>
    <li class="user-actions">
      {% if user.is_authenticated %}
        {% include 'auth-custom/partials/logout-form.html' %}
      {% else %}
        <a href="{% url 'login' %}">{% translate 'Login' context 'Page title' %}</a>
      {% endif %}
    </li>
  </ul>
</nav>
