{% load i18n %}

<footer id="site-footer" class="site-footer" aria-labelledby="{{ footer_heading_id }}">
  {% translate 'footer' context 'Heading ID, Footer, not `site-footer`' as footer_heading_id %}
  {% translate 'Footer' context 'Heading text, Footer' as footer_heading_text %}
  <h2 id="{{ footer_heading_id }}" class="visually-hidden">{{ footer_heading_text }}</h2>

  <p>
    {% blocktranslate trimmed with django_repo='https://github.com/django/django' rel=rel_external %}
      Development project for
      <a href="{{ django_repo }}" rel="{{rel}}">Django</a>.
    {% endblocktranslate %}
    {% blocktranslate trimmed with project_repo='https://github.com/MHLut/django-local-test' rel=rel_external %}
      (<a href="{{ project_repo }}" rel="{{rel}}">Source code</a>)
    {% endblocktranslate %}
  </p>
</footer>
