{% extends 'core/layouts/main.html' %}
{% load i18n %}

{% block head_title %}{% translate 'Kitchen sink' context 'Page title' %}{% endblock head_title %}
{% block page_title %}{% translate 'Kitchen sink' context 'Page title' %}{% endblock page_title %}

{% block main %}
  <section>
    <p id="section-messages" class="content-description"><strong>Messages:</strong></p>

    <ul class="messages" role="list">
      <li class="messages__message">Message &mdash; <a href="#">link</a></li>
      <li class="messages__message messages__message--info">Message info &mdash; <a href="#">link</a></li>
      <li class="messages__message messages__message--success">Message success &mdash; <a href="#">link</a></li>
      <li class="messages__message messages__message--warning">Message warning &mdash; <a href="#">link</a></li>
      <li class="messages__message messages__message--danger">Message error (danger) &mdash; <a href="#">link</a></li>
    </ul>

    <hr>

    <p id="section-headings" class="content-description"><strong>Headings:</strong></p>

    <h1>Heading Level 1</h1>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    <h2>Heading Level 2</h2>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    <h3>Heading Level 3</h3>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    <h4>Heading level 4</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    <h5>Heading level 5</h5>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    <h6>Heading level 6</h6>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    <hr>

    <p id="section-text" class="content-description"><strong>Text:</strong></p>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas.</p>

    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et
      malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
      ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
      semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo.
      Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi,
      condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean
      fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis
      tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar
      facilisis. Ut felis.</p>

    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna.
        Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida.
        Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est
        malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium
        ornare est.</p>
      <cite>#cite <a href="#cite">#cite</a></cite>
    </blockquote>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Etiam
      porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis
      euismod semper.</p>

    <hr>

    <p id="section-lists" class="content-description"><strong>Lists:</strong></p>

    <p id="ordered-list" class="content-description"><strong>Ordered list:</strong></p>
    <ol aria-labelledby="ordered-list">
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
    </ol>

    <p id="ordered-list-reversed" class="content-description"><strong>Ordered list (reversed):</strong></p>
    <ol aria-labelledby="ordered-list-reversed" reversed>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
    </ol>

    <p id="unordered-list" class="content-description"><strong>Unordered list:</strong></p>
    <ul aria-labelledby="unordered-list">
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
    </ul>

    <p id="definition-list" class="content-description"><strong>Definition list:</strong></p>
    <dl aria-labelledby="definition-list">
      <dt>Lorem ipsum dolor sit amet</dt>
      <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>

      <dt>Lorem ipsum dolor sit amet</dt>
      <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
    </dl>

    <hr>

    <p id="section-inline-elements" class="content-description"><strong>Inline elements:</strong></p>

    <p><a href="#">Link</a></p>
    <p><strong>Strong</strong></p>
    <p><em>Emphasized</em></p>
    <p><small>Small</small></p>
    <p><del>Deleted</del></p>
    <p><ins>Inserted</i></p>
    <p><kbd>Keyboard</kbd> (<kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>delete</kbd>)</p>
    <p><mark>Marked</mark></p>
    <p><abbr title="Abbreviation">Abbreviation</abbr></p>
    <p>Sub<sub>script</sub></p>
    <p>Super<sup>script</sup></p>

    <hr>

    <p id="section-tables" class="content-description"><strong>Tables:</strong></p>

    <table>
      <caption>Caption</caption>
      <thead>
        <tr>
          <th scope="col">Pellentesque</th>
          <th scope="col">Quam</th>
          <th scope="col">Aenean</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Fermentum</th>
          <td>Fringilla</td>
          <td>Dapibus</td>
        </tr>
        <tr>
          <th scope="row">Lorem</th>
          <td>Mollis</td>
          <td>Inceptos</td>
        </tr>
        <tr>
          <th scope="row">Sollicitudin</th>
          <td>Ullamcorper</td>
          <td>Tellus</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Ridiculus</th>
          <td colspan="2">Venenatis</td>
        </tr>
      </tfoot>
    </table>

    <hr>

    <p id="section-fieldsets" class="content-description"><strong>Fieldsets:</strong></p>

    <fieldset>
      <legend>Legend</legend>

      <p>Fieldset</p>
    </fieldset>

    <hr>

    <p id="section-form-elements" class="content-description"><strong>Form elements:</strong></p>

    <div class="form__field form__field--text">
      <label for="kitchen-sink-text">Text</label>
      <input id="kitchen-sink-text" type="text" placeholder="Lorem ipsum dolor sit amet">
    </div>

    <div class="form__field form__field--text">
      <label for="kitchen-sink-text-2">Text disabled</label>
      <input id="kitchen-sink-text-2" type="text" placeholder="Lorem ipsum dolor sit amet" disabled>
    </div>

    <div class="form__field form__field--checkbox">
      <input id="kitchen-sink-checkbox" name="checkbox" type="checkbox">
      <label for="kitchen-sink-checkbox">Checkbox</label>
    </div>

    <div class="form__field form__field--checkbox">
      <input id="kitchen-sink-checkbox-2" name="checkbox" type="checkbox" checked>
      <label for="kitchen-sink-checkbox-2">Checkbox</label>
    </div>

    <div class="form__field form__field--radio">
      <input id="kitchen-sink-radio" name="radio" type="radio">
      <label for="kitchen-sink-radio">Radio</label>
    </div>

    <div class="form__field form__field--radio">
      <input id="kitchen-sink-radio-2" name="radio" type="radio" checked>
      <label for="kitchen-sink-radio-2">Radio</label>
    </div>

    <div class="form__field form__field--select">
      <label for="kitchen-sink-select">Select</label>
      <select id="kitchen-sink-select">
        <option>-</option>
        <option selected>Pellentesque</option>
        <option>Quam</option>
        <option>Aenean</option>
      </select>
    </div>

    <div class="form__field form__field--select">
      <label for="kitchen-sink-select-2">Select w/ optgroup</label>
      <select id="kitchen-sink-select-2">
        <option>-</option>
        <optgroup label="Ridiculus">
          <option selected>Fermentum</option>
          <option>Fringilla</option>
          <option>Dapibus</option>
        </optgroup>
        <optgroup label="Venenatis">
          <option>Lorem</option>
          <option>Mollis</option>
          <option>Inceptos</option>
        </optgroup>
      </select>
    </div>

    <div class="form__field form__field--file">
      <label for="kitchen-sink-file">File</label>
      <input id="kitchen-sink-file" type="file">
    </div>

    <hr>

    <p id="section-buttons" class="content-description"><strong>Buttons:</strong></p>

    <div>
      <button type="button">Lorem ipsum</button>
      <span>button</span>
    </div>

    <div>
      <button type="submit">Lorem ipsum</button>
      <span>submit</span>
    </div>

    <div>
      <button type="reset">Lorem ipsum</button>
      <span>reset</span>
    </div>

    <div>
      <button type="button" disabled>Lorem ipsum</button>
      <span>button, disabled</span>
    </div>

    <hr>

    <p id="section-code-blocks" class="content-description"><strong>Code blocks:</strong></p>

    <pre class="lang-python"><code><!--
-->def hello_world():
    print("Hello world")<!--
    --></code></pre>

    <pre class="lang-sql"><code><!--
-->SELECT *
FROM `hello_world`
WHERE `foo` = 'bar';<!--
    --></code></pre>

    <pre class="lang-html"><code><!--
-->&lt;h1&gt;Hello world&lt;/h1&gt;
&lt;p&gt;Vestibulum id ligula porta felis euismod semper.&lt;/p&gt;<!--
    --></code></pre>

    <pre class="lang-css"><code><!--
-->.hello-world {
  background-color: #663399;
  block-size: 10vh;
  display: block;
  inline-size: 4em;
}<!--
    --></code></pre>

    <hr>

    <p><small>Source: <a href="https://codepen.io/MHLut/pen/JNKzPX" rel="external">https://codepen.io/MHLut/pen/JNKzPX</a></small></p>
  </section>
{% endblock main %}
