{% extends 'core/layouts/main.html' %}
{% load i18n %}

{% translate 'Login' context 'Page title' as page_title %}
{% block head_title %}{{ page_title }}{% endblock head_title %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block main %}
  <section>
    <form id="login-form" class="form--login" action="" method="post" autocomplete="on">
      {% csrf_token %}

      {{ form }}

      <div class="form__actions">
        <button type="submit">{% translate 'Log in' context 'Action' %}</button>
      </div>
    </form>
  </section>
{% endblock main %}
